In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.datasets import load_iris
import sklearn.linear_model as linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import missingno as msno
import sklearn.covariance as covar
import seaborn as sns

In [17]:
iris_x,iris_y=load_iris(return_X_y=True)
# load_iris().keys()
iris_x,iris_y=load_iris(return_X_y=True)
iris_x,iris_y=pd.DataFrame(iris_x),pd.DataFrame(iris_y)
iris_x

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [18]:
x_train, x_test, y_train, y_test=train_test_split(iris_x,iris_y, random_state=44)

In [21]:
model=linear_model.LogisticRegression(random_state=0).fit(x_train,np.ravel(y_train))
r2_score(y_test,model.predict(x_test))

0.9615384615384616