# **Q1**

In [6]:
import requests as r
import pandas as pd
import time as t
api_key="d6b6f511e01f1acbef2339447bdc8fb3"
comedy_csv = []
cm_ids = []
for i in range(1, 16):
  url = 'https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&page=' + str(i) + '&with_genres=35&primary_release_date.gte=2000&sort_by=popularity.desc'
  req = r.get(url)
  req.json()
  movies = pd.DataFrame(req.json()['results'])

  for j in range(len(movies)):
    st = str(movies['id'][j]) + ',' + str(movies['title'][j])
    comedy_csv.append([st, movies['popularity'][j], movies['id'][j]])

comedy_csv = pd.DataFrame(comedy_csv, columns = ['Comedy Movies', 'Popularity', 'IDs'])
comedy_csv = comedy_csv.sort_values(by = 'Popularity')
comedy_csv = comedy_csv.iloc[::-1] # reverse
cm_ids = comedy_csv['IDs']
comedy_movies = pd.DataFrame(comedy_csv['Comedy Movies'])
comedy_movies.to_csv('movie_ID_name.csv')
comedy_movies

                           Comedy Movies
0                      512195,Red Notice
1        585245,Clifford the Big Red Dog
2                    876716,Ciao Alberto
3    877183,The Simpsons in Plusaversary
4                        550988,Free Guy
..                                   ...
295                    23023,Tooth Fairy
296    10527,Madagascar: Escape 2 Africa
297           583083,The Kissing Booth 2
298                   508947,Turning Red
299           19913,(500) Days of Summer

[300 rows x 1 columns]

# **Q2**

In [7]:
import requests as r
import pandas as pd
import time as t

sm_ids_csv = []
sm_ids = []
for i in range(len(cm_ids)):
  url = 'https://api.themoviedb.org/3/movie/' + str(cm_ids[i]) + '/similar?api_key=' + api_key
  req = r.get(url)
  similar_movies = pd.DataFrame(req.json()['results'])
  for j in range(len(similar_movies)):
      if j < 5 and [similar_movies['id'][j], cm_ids[i]] not in sm_ids:

        sm_ids_csv.append(str(cm_ids[i]) + ',' + str(similar_movies['id'][j]))
        sm_ids.append([cm_ids[i] ,similar_movies['id'][j]])
    
sm_ids_csv = pd.DataFrame(sm_ids_csv, columns = ['Similar Movies ID'])
sm_ids_csv.to_csv('movie_ID_sim_movie_ID.csv')
sm_ids_csv

     Similar Movies ID
0         512195,22804
1         512195,23168
2         512195,13027
3         512195,13056
4         512195,16617
...                ...
1495       19913,17466
1496       19913,14883
1497       19913,20453
1498       19913,21972
1499       19913,28178

[1500 rows x 1 columns]