In [426]:
import pandas as pd
import numpy as np

In [427]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data',na_values='?')
df.columns=["symboling", "normalized_losses","make", "fuel_type", "aspiration","num_doors", "body_style", "drive_wheels","engine_location", "wheel_base", "length", "width", "height", "curb_weight","engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke","compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
201,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
202,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
203,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [428]:
print(df.shape)
df.dropna(subset=['price'],inplace=True)
df.reset_index(drop=True,inplace=True)
print(df.shape)

(204, 26)
(200, 26)

In [429]:
numericalColumns=list(df.dtypes.index[df.dtypes!=object])
df1=df[numericalColumns].fillna(df[numericalColumns].mean())
df1

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.0,99.8,177.3,66.3,53.1,2507,136,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
196,-1,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
197,-1,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
198,-1,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
199,-1,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [430]:
categoricalColumns=list(df.dtypes.index[df.dtypes==object])
df2=df[categoricalColumns].fillna(df[categoricalColumns].mode())
df2

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
2,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
3,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
4,audi,gas,std,two,sedan,fwd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
195,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
196,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
197,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
198,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
199,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [431]:
categoricalColumns

['make',
 'fuel_type',
 'aspiration',
 'num_doors',
 'body_style',
 'drive_wheels',
 'engine_location',
 'engine_type',
 'num_cylinders',
 'fuel_system']

In [432]:
df.update(df1)
df.update(df2)
del df1
del df2
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
196,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
197,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
198,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
199,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [433]:
nancols=[]
for col in df.columns:
    if len(df[col].isnull().unique()) > 1:
        print(col)
        nancols.append(col)
print(nancols)

num_doors
['num_doors']

In [434]:
df['num_doors']=df['num_doors'].replace(np.nan,df['num_doors'].mode()[0])
if df.isnull().sum().sum() == 0:
    print('Central Tendency Imputation done')

Central Tendency Imputation done

In [435]:
from sklearn.ensemble import IsolationForest
clf=IsolationForest(random_state=42)

In [436]:
df['length']

0      168.8
1      171.2
2      176.6
3      176.6
4      177.3
       ...
195    188.8
196    188.8
197    188.8
198    188.8
199    188.8
Name: length, Length: 200, dtype: float64

In [437]:
clf.fit(df[['length']])
pred=clf.predict(df[['length']])
pred

array([ 1,  1,  1,  1,  1, -1, -1, -1,  1,  1,  1,  1,  1,  1, -1, -1, -1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1, -1, -1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1, -1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1, -1, -1, -1,  1,  1,
       -1,  1,  1, -1, -1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [438]:
outlierIndices=np.where(pred==-1)
outlierIndices

(array([  5,   6,   7,  14,  15,  16,  17,  18,  28,  29,  30,  31,  32,
         33,  34,  43,  44,  45,  46,  47,  48,  63,  64,  65,  66,  67,
         68,  69,  70,  71,  94,  97,  98,  99, 102, 105, 106, 109, 110,
        125, 133, 134, 173, 174, 184, 186, 187, 188], dtype=int64),)

In [439]:
df['length'].iloc[outlierIndices].values

array([192.7, 192.7, 192.7, 193.8, 197. , 141.1, 155.9, 158.8, 144.6,
       144.6, 150. , 150. , 150. , 163.4, 157.1, 199.6, 199.6, 191.7,
       159.1, 159.1, 159.1, 190.9, 190.9, 187.5, 202.6, 202.6, 180.3,
       208.1, 199.2, 178.4, 162.4, 181.7, 184.6, 184.6, 178.5, 198.9,
       198.9, 198.9, 198.9, 181.5, 156.9, 157.9, 183.5, 183.5, 159.3,
       180.2, 180.2, 183.1])

In [440]:
df['num_doors'].append(df['num_cylinders']).unique()

array(['two', 'four', 'six', 'five', 'three', 'twelve', 'eight'],
      dtype=object)

In [441]:
cardinalMap={'twelve':12,'two':2,'three':3,'four':4,'five':5,'six':6,'eight':8}

In [442]:
df[['num_doors','num_cylinders']]=df[['num_doors','num_cylinders']].applymap(lambda x: cardinalMap[x])
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.0,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.0,audi,gas,std,2,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [443]:
categoricalColumns.remove('num_doors')
categoricalColumns.remove('num_cylinders')

In [444]:
pd.get_dummies(df[["body_style", "drive_wheels"]])

,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,1,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,1
2,0,0,0,1,0,0,1,0
3,0,0,0,1,0,1,0,0
4,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...
195,0,0,0,1,0,0,0,1
196,0,0,0,1,0,0,0,1
197,0,0,0,1,0,0,0,1
198,0,0,0,1,0,0,0,1
199,0,0,0,1,0,0,0,1

In [445]:
pd.get_dummies(df[["body_style", "drive_wheels"]]).columns

Index(['body_style_convertible', 'body_style_hardtop', 'body_style_hatchback',
       'body_style_sedan', 'body_style_wagon', 'drive_wheels_4wd',
       'drive_wheels_fwd', 'drive_wheels_rwd'],
      dtype='object')

In [446]:
dummies=pd.get_dummies(df[["body_style", "drive_wheels"]])
df=pd.concat((df,dummies),axis=1)
df.drop(columns=["body_style", "drive_wheels"],inplace=True)
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,122.0,alfa-romero,gas,std,2,front,88.6,168.8,64.1,...,27,16500.0,1,0,0,0,0,0,0,1
1,1,122.0,alfa-romero,gas,std,2,front,94.5,171.2,65.5,...,26,16500.0,0,0,1,0,0,0,0,1
2,2,164.0,audi,gas,std,4,front,99.8,176.6,66.2,...,30,13950.0,0,0,0,1,0,0,1,0
3,2,164.0,audi,gas,std,4,front,99.4,176.6,66.4,...,22,17450.0,0,0,0,1,0,1,0,0
4,2,122.0,audi,gas,std,2,front,99.8,177.3,66.3,...,25,15250.0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,95.0,volvo,gas,std,4,front,109.1,188.8,68.9,...,28,16845.0,0,0,0,1,0,0,0,1
196,-1,95.0,volvo,gas,turbo,4,front,109.1,188.8,68.8,...,25,19045.0,0,0,0,1,0,0,0,1
197,-1,95.0,volvo,gas,std,4,front,109.1,188.8,68.9,...,23,21485.0,0,0,0,1,0,0,0,1
198,-1,95.0,volvo,diesel,turbo,4,front,109.1,188.8,68.9,...,27,22470.0,0,0,0,1,0,0,0,1
199,-1,95.0,volvo,gas,turbo,4,front,109.1,188.8,68.9,...,25,22625.0,0,0,0,1,0,0,0,1

In [447]:
encodedColumns=list(dummies.columns)
categoricalColumns.remove('body_style')
categoricalColumns.remove('drive_wheels')
categoricalColumns,encodedColumns

(['make',
  'fuel_type',
  'aspiration',
  'engine_location',
  'engine_type',
  'fuel_system'],
 ['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd'])

In [448]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [449]:
encodingFeatures=['make', 'aspiration', 'engine_location','fuel_type']
for attributes in encodingFeatures:
    df[attributes]=pd.Series(le.fit_transform(df[attributes]))
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,122.0,0,1,0,2,0,88.6,168.8,64.1,...,27,16500.0,1,0,0,0,0,0,0,1
1,1,122.0,0,1,0,2,0,94.5,171.2,65.5,...,26,16500.0,0,0,1,0,0,0,0,1
2,2,164.0,1,1,0,4,0,99.8,176.6,66.2,...,30,13950.0,0,0,0,1,0,0,1,0
3,2,164.0,1,1,0,4,0,99.4,176.6,66.4,...,22,17450.0,0,0,0,1,0,1,0,0
4,2,122.0,1,1,0,2,0,99.8,177.3,66.3,...,25,15250.0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,95.0,21,1,0,4,0,109.1,188.8,68.9,...,28,16845.0,0,0,0,1,0,0,0,1
196,-1,95.0,21,1,1,4,0,109.1,188.8,68.8,...,25,19045.0,0,0,0,1,0,0,0,1
197,-1,95.0,21,1,0,4,0,109.1,188.8,68.9,...,23,21485.0,0,0,0,1,0,0,0,1
198,-1,95.0,21,0,1,4,0,109.1,188.8,68.9,...,27,22470.0,0,0,0,1,0,0,0,1
199,-1,95.0,21,1,1,4,0,109.1,188.8,68.9,...,25,22625.0,0,0,0,1,0,0,0,1

In [450]:
categoricalColumns=[x for x in categoricalColumns if not x in encodingFeatures]
encodedColumns+=encodingFeatures
categoricalColumns,encodedColumns

(['engine_type', 'fuel_system'],
 ['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd',
  'make',
  'aspiration',
  'engine_location',
  'fuel_type'])

In [451]:
def keyEncode(string,substr):
    if string.count(substr):
        return(1)
    else:
        return(0)

In [452]:
df[['fuel_system']]=df[['fuel_system']].applymap(lambda x: keyEncode(x,'pfi'))
df[['engine_type']]=df[['engine_type']].applymap(lambda x: keyEncode(x,'ohc'))
categoricalColumns.remove('fuel_system')
categoricalColumns.remove('engine_type')
encodedColumns+=['fuel_system','engine_type']
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,122.0,0,1,0,2,0,88.6,168.8,64.1,...,27,16500.0,1,0,0,0,0,0,0,1
1,1,122.0,0,1,0,2,0,94.5,171.2,65.5,...,26,16500.0,0,0,1,0,0,0,0,1
2,2,164.0,1,1,0,4,0,99.8,176.6,66.2,...,30,13950.0,0,0,0,1,0,0,1,0
3,2,164.0,1,1,0,4,0,99.4,176.6,66.4,...,22,17450.0,0,0,0,1,0,1,0,0
4,2,122.0,1,1,0,2,0,99.8,177.3,66.3,...,25,15250.0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,95.0,21,1,0,4,0,109.1,188.8,68.9,...,28,16845.0,0,0,0,1,0,0,0,1
196,-1,95.0,21,1,1,4,0,109.1,188.8,68.8,...,25,19045.0,0,0,0,1,0,0,0,1
197,-1,95.0,21,1,0,4,0,109.1,188.8,68.9,...,23,21485.0,0,0,0,1,0,0,0,1
198,-1,95.0,21,0,1,4,0,109.1,188.8,68.9,...,27,22470.0,0,0,0,1,0,0,0,1
199,-1,95.0,21,1,1,4,0,109.1,188.8,68.9,...,25,22625.0,0,0,0,1,0,0,0,1

In [453]:
categoricalColumns,encodedColumns

([],
 ['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd',
  'make',
  'aspiration',
  'engine_location',
  'fuel_type',
  'fuel_system',
  'engine_type'])

In [454]:
encodedColumns.append(numericalColumns.remove('symboling'))
encodedColumns,numericalColumns

(['body_style_convertible',
  'body_style_hardtop',
  'body_style_hatchback',
  'body_style_sedan',
  'body_style_wagon',
  'drive_wheels_4wd',
  'drive_wheels_fwd',
  'drive_wheels_rwd',
  'make',
  'aspiration',
  'engine_location',
  'fuel_type',
  'fuel_system',
  'engine_type',
  None],
 ['normalized_losses',
  'wheel_base',
  'length',
  'width',
  'height',
  'curb_weight',
  'engine_size',
  'bore',
  'stroke',
  'compression_ratio',
  'horsepower',
  'peak_rpm',
  'city_mpg',
  'highway_mpg',
  'price'])

In [462]:
import copy
scaleFeatures=copy.deepcopy(numericalColumns)
outputFeature=scaleFeatures.remove('price')

In [464]:
df[scaleFeatures]

,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27
1,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26
2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30
3,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22
4,122.0,99.8,177.3,66.3,53.1,2507,136,3.19,3.40,8.5,110.0,5500.0,19,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114.0,5400.0,23,28
196,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,25
197,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,23
198,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,27
199,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25

In [467]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
df[scaleFeatures]=pd.DataFrame(ss.fit_transform(df[scaleFeatures]),columns=scaleFeatures)
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,3,8.881784e-18,0,1,0,2,0,-1.701436,-0.440719,-0.857154,...,-0.544042,16500.0,1,0,0,0,0,0,0,1
1,1,8.881784e-18,0,1,0,2,0,-0.721882,-0.245855,-0.189737,...,-0.690882,16500.0,0,0,1,0,0,0,0,1
2,2,1.312654e+00,1,1,0,4,0,0.158057,0.192591,0.143971,...,-0.103522,13950.0,0,0,0,1,0,0,1,0
3,2,1.312654e+00,1,1,0,4,0,0.091646,0.192591,0.239316,...,-1.278241,17450.0,0,0,0,1,0,1,0,0
4,2,8.881784e-18,1,1,0,2,0,0.158057,0.249427,0.191644,...,-0.837722,15250.0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,-8.438489e-01,21,1,0,4,0,1.702100,1.183155,1.431132,...,-0.397202,16845.0,0,0,0,1,0,0,0,1
196,-1,-8.438489e-01,21,1,1,4,0,1.702100,1.183155,1.383459,...,-0.837722,19045.0,0,0,0,1,0,0,0,1
197,-1,-8.438489e-01,21,1,0,4,0,1.702100,1.183155,1.431132,...,-1.131402,21485.0,0,0,0,1,0,0,0,1
198,-1,-8.438489e-01,21,0,1,4,0,1.702100,1.183155,1.431132,...,-0.544042,22470.0,0,0,0,1,0,0,0,1
199,-1,-8.438489e-01,21,1,1,4,0,1.702100,1.183155,1.431132,...,-0.837722,22625.0,0,0,0,1,0,0,0,1